{
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "printWidth": 80,
  "proseWrap": "preserve",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.py",
      "options": {
        "parser": "python",
        "plugins": [
          "prettier/plugin-python"
        ],
        "prettier/plugin-python": {
          "parser": "python",
          "style": "black"
        }
      }
    }
  ]
}